@charset "UTF-8";

#menuPrincipal {
	background-color: #FFF;
	border-color: #CCC;
	border-style: solid;
	border-width: 0 1px 0 0;
}

#menuPrincipal li {
	color: #077;
	margin: 0 0 20px 0;
}

#menuPrincipal li:last-child {
	margin: 0;
}

#menuPrincipal li a {
	display: block;
	font-size: 0.9em;
	padding: 5px 15px;
	text-decoration: none;
}

#menuPrincipal li a:hover {
	background-color: #0AA;
	color: #FFF;	
}

#menuPrincipal li ul li {
	color: #444;
	margin: 0;
}