@charset "UTF-8";

#cabecalho {
	background-color: #17C;
	display: -moz-box;
	margin: 0 0 20px 0;
	-moz-box-align: center;
	-moz-box-flex: 1;
	-moz-box-orient: horizontal;
}

#cabecalho h1 {
	color: #FFF;
	font-size: 1.5em;
	margin: 0 20px 0 0;
	text-align: center;
}

#cabecalho h1.logo {
	background-image: url(../imagens/logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 105px;
	width: 284px;
}

#cabecalho h1 span {
	display: none;
}

#cabecalho strong {
	color: inherit;
	font-weight: bold;
}