@charset "UTF-8";
@import url("estiloSisProCabecalho.css");
@import url("estiloSisProNavegacao.css");
@import url("estiloSisProConteudo.css");

*
{
	color: #000;
	font-family:  Helvetica, Verdana, Sans-Serfi;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body
{
	margin: 10px;
}

#topo {
	display: -moz-box;
	-moz-box-align: stretch;
	-moz-box-orient: horizontal;
	width: 100%;
}
	

#meio {
	display: -moz-box;
	margin: 0 0 20px 0;
	-moz-box-align: stretch;
	-moz-box-orient: horizontal;
	width: 100%;
}

#cabecalho { -moz-box-flex: 1; }
#navegacao { -moz-box-flex: 0; }
#conteudo { -moz-box-flex: 1; }

/*CSS Reset*/
amp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext { font:  inherit; font-size:  1em; white-space:  normal; }
dfn, i, cite, var, address, em { font-style:  normal; }
th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight:  normal; }
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table { border:  none; }
table { border-collapse:  collapse; border-spacing:  0; }
caption, th, td, center { text-align:  left; vertical-align:  top; }
body { line-height:  1; background:  white; color:  black; }
q { quotes:  "" ""; }
ul, ol, dir, menu { list-style:  none; }
sub, sup { vertical-align:  baseline; }
a { color:  inherit; }
hr { display:  none; } 
font { color:  inherit !important; font:  inherit !important; color:  inherit !important; } 
blink { text-decoration:  none; }
nobr { white-space:  normal; }
/*CSS Reset*/