@charset "UTF-8";

#cabeçalho {
	background-color: #294E79;
	border-bottom-color: #F5F5F5;
	border-bottom-style: solid;
	border-bottom-width: 3em;
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-pack: justify;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	margin: auto;
	padding: 0 5em;
}

#cabeçalho #navegaçãoPrincipal #menuPrincipal {
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-pack: justify;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	display: box;
	display: -moz-box;
	display: -webkit-box;
}

#cabeçalho #navegaçãoPrincipal #menuPrincipal a {
	background-color: #3D73B1;
	color: #FFF;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	padding: 1em;
	text-decoration: none;
}

#cabeçalho #navegaçãoPrincipal #menuPrincipal a:hover {
	background-color: #F5F5F5;
	color: #666;
}
	
#cabeçalho #logomarca {
	background-color: #FFF;
	border-radius:4em;
	padding: 1em;
}

#cabeçalho #navegaçãoPrincipal #buscaPrincipal {
	margin-top: 1em;
}

#cabeçalho #navegaçãoPrincipal #buscaPrincipal input {
	border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	-webkit-border-radius: 1em;
	box-shadow: 0.1em 0.1em 0.1em #888;
	-moz-box-shadow: 0.1em 0.1em 0.1em #888;
	-webkit-box-shadow: 0.1em 0.1em 0.1em #888;
	color: #666;
	padding: 0.5em;
	margin-right: 1em;
}

#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="text"] {
	border-color: #EEE;
	border-style: solid;
	border-width: 0.1em;
	margin-right: 0.5em;
}

#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="text"]:focus {
	color: #000;
	outline-width: 0;
}

#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="button"],
#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="submit"] {
	background: #F5F5F5;
	border-width: 0;
	text-shadow: 0 0.1em 0.1em #FFF;
}

#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="button"]:hover,
#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="submit"]:hover {
	cursor: pointer;
	background: #EEE;
}

#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="button"]:active,
#cabeçalho #navegaçãoPrincipal #buscaPrincipal input[type="submit"]:active {
	background: #DDD;
}