@charset "utf-8";

section.auxiliar {
	background-image: -webkit-radial-gradient(top left, ellipse cover, #F9F9F9, #F3F3F3);
	background-color: #F3F3F3;
	border-color: #E5E5E5;
	border-style: solid;
	border-left-width: 1px;
}
