@charset "utf-8";

header.topo {
	background-image: radial-gradient(50% -200, 0, 50% 0, 400, from(#F5F5F5), to(#F1F1F1));
	background-image: -webkit-radial-gradient(50% -200, 0, 50% 0, 400, from(#F5F5F5), to(#F1F1F1));
	background-image: -moz-radial-gradient(50% -200, 0, 50% 0, 400, from(#F5F5F5), to(#F1F1F1));
	background-image: -o-radial-gradient(50% -200, 0, 50% 0, 400, from(#F5F5F5), to(#F1F1F1));
	background-image: -ms-radial-gradient(50% -200, 0, 50% 0, 400, from(#F5F5F5), to(#F1F1F1));
	border-color: #DDD;
	border-style: solid;
	border-bottom-width: 1px;
}

hgroup.cabecalho {
	padding: 10px;
}

hgroup.cabecalho > h1,
hgroup.cabecalho > h2 {
	color: #00A0B0;
}

hgroup.cabecalho > h1 {
	font-weight: bold;
	font-size: 2rem;
}

hgroup.cabecalho > h2 {
	font-size: 1.5em;
}
