@charset "utf-8";

section.conteudo {
	background-color: #FFF;
	margin: 0 20px;
}

section.conteudo > form > input[type="text"] {
	background-color: #FAFAFA;
	border-color: #CCC;
	border-radius: 0.3em;
	border-style: solid;
	border-width: 1px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	color: #333;
	font-size: 0.9rem;
	padding: 7px 28px 7px 7px;
	margin-bottom: 20px;
	width: 300px;
}

section.conteudo > form > input[type="text"]:hover {
	background-color: #FEFEFE;
}

section.conteudo > form > input[type="text"]::-webkit-input-placeholder {
	color: #AAA;
}

section.conteudo > form > input[type="text"]:valid {
	background-image: url("/png/valido");
	background-position: center right;
}

section.conteudo > form > input[type="text"]:invalid {
	background-image: url("/png/invalido");
	background-position: center right;
}

section.conteudo > nav > button > span {
	background-color: #555;
	color: #FFF;
	border-radius: 0.5em;
	margin: 0 2px;
	padding: 1px 2px;
}

section.conteudo > nav > button {
	border-radius: 0.3em;
	border-style: solid;
	border-width: 1px;
	margin: 0 0 10px 10px;
	font-size: 0.8rem;
	padding: 5px;
}

section.conteudo > nav > button {
	background-color: #EAEAEA;
	background-image: linear-gradient(180deg, #FAFAFA 0, #EAEAEA 100%);
	border-color: #C5C5C5;
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

section.conteudo > nav > button:hover,
section.conteudo > nav > button:focus {
	background-color: #DADADA;
	background-image: linear-gradient(180deg, #EAEAEA 0, #DADADA 100%);
	border-color: #B5B5B5;
}

section.conteudo > nav > button.salvar {
	background-color: #60B044;
	background-image: linear-gradient(180deg, #8ADD6D 0, #60B044 100%);
	border-color: #5CA941;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

section.conteudo > nav > button.salvar:hover,
section.conteudo > nav > button.salvar:focus {
	background-color: #569E3D;
	background-image: linear-gradient(180deg, #79D858 0, #569E3D 100%);
	border-color: #4A993E;
}

section.conteudo > nav > button.apagar {
	background-color: #B33630;
	background-image: linear-gradient(180deg, #DC5F59 0, #B33630 100%);
	border-color: #CD504A;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

section.conteudo > nav > button.apagar:hover,
section.conteudo > nav > button.apagar:focus {
	background-color: #A55;
	background-image: linear-gradient(180deg, #DC5F59 0, #A55 100%);
	border-color: #B33630;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

section.conteudo > nav > button:hover,
section.conteudo > nav > button:focus {
	cursor: pointer;
	box-shadow: 0 1px 2px #CCC;
}

section.conteudo > nav > button:active {
	cursor: pointer;
	box-shadow: none;
}

section.conteudo > nav > button:disabled,
section.conteudo > nav > button:disabled:hover {
	background-color: #AAA;
	background-image: none;
	border-color: #AAA;
	color: #666;
	cursor: default;
	box-shadow: none;
	text-shadow: none;
}

section.conteudo > h1 {
	color: #4183C4;
	font-size: 1.5em;
	/*font-weight: bold;*/
}

section.conteudo > ul.recursos > li.recurso {
	padding: 20px ;
}

section.conteudo > ul.recursos > li.recurso:hover {
	background-color: #F5F5F5;
}

section.conteudo > ul.recursos > li.recurso > h2 {
	color: #666;
	font-family: monospace;
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api {
	margin-top: 10px;
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api > dl.atributos > dt {
	display: none;
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api > dl.atributos > dd {
	color: #FFF;
	border-radius: 0.3em;
	font-size: 0.8rem;
	margin-left: 10px;
	padding: 0.4em;
	text-shadow: 1px 1px 1px #777;
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api > dl.atributos > dd:empty {
	display: none
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api > dl.atributos > dd.metodo {
	color: #333;
	text-shadow: none;
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api > dl.atributos > dd.tipoDeMidia {
	background-color: #8CC665;
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api > dl.atributos > dd.tipoDeMidiaAceita {
	background-color: #4682B4;
}

section.conteudo > ul.recursos > li.recurso > ul.apis > li.api > dl.atributos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	/*align-content: flex-start;*/
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-align-items: center;
	-webkit-justify-content: flex-start;
	/*-webkit-align-content: flex-start;*/
	display: -moz-flex;
	-moz-flex-direction: row;
	-moz-flex-wrap: nowrap;
	-moz-align-items: center;
	-moz-justify-content: flex-start;
	/*-moz-align-content: flex-start;*/
	display: -o-flex;
	-o-flex-direction: row;
	-o-flex-wrap: nowrap;
	-o-align-items: center;
	-o-justify-content: flex-start;
	/*-o-align-content: flex-start;*/
	display: -ms-flex;
	-ms-flex-direction: row;
	-ms-flex-wrap: nowrap;
	-ms-align-items: center;
	-ms-justify-content: flex-start;
	/*-ms-align-content: flex-start;*/
}

section.conteudo > nav.navegacaoSecundaria {
 	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-end;
	align-content: flex-start;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: stretch;
	-webkit-justify-content: flex-end;
	-webkit-align-content: flex-start;
	display: -moz-flex;
	-moz-flex-direction: row;
	-moz-flex-wrap: wrap;
	-moz-align-items: stretch;
	-moz-justify-content: flex-end;
	-moz-align-content: flex-start;
	display: -o-flex;
	-o-flex-direction: row;
	-o-flex-wrap: wrap;
	-o-align-items: stretch;
	-o-justify-content: flex-end;
	-o-align-content: flex-start;
	display: -ms-flex;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	-ms-align-items: stretch;
	-ms-justify-content: flex-end;
	-ms-align-content: flex-start;
}

section.conteudo > form {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	align-content: space-between;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: stretch;
	-webkit-justify-content: space-between;
	-webkit-align-content: space-between;
	display: -moz-flex;
	-moz-flex-direction: row;
	-moz-flex-wrap: wrap;
	-moz-align-items: stretch;
	-moz-justify-content: space-between;
	-moz-align-content: space-between;
	display: -o-flex;
	-o-flex-direction: row;
	-o-flex-wrap: wrap;
	-o-align-items: stretch;
	-o-justify-content: space-between;
	-o-align-content: space-between;
	display: -ms-flex;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	-ms-align-items: stretch;
	-ms-justify-content: space-between;
	-ms-align-content: space-between;
}
