@charset "utf-8";

nav.navegacaoPrincipal {
	background-color: #FFF;
}

nav.navegacaoPrincipal > ul {
	border-color: #4183C4;
	border-style: solid;
	border-right-width: 2px;
}

nav.navegacaoPrincipal > ul > li > a {
	background-color: #FFF;
	color: #4183C4;
	display: block;
	padding: 10px 30px;
}

nav.navegacaoPrincipal > ul > li > a:hover {
	background-color: #4183C4;
	color: #FFF;
}
