@charset "utf-8";

section.pesquisa {
	background-image: -webkit-radial-gradient(top left, ellipse cover, #0AE, #0AB);
	border-color: #27B;
	border-style: solid;
	border-bottom-width: 2px;
	padding: 10px 50px;
}

section.pesquisa input {
	width: 500px;
}

section.pesquisa > form {
	margin-right: 50px;
}

section.pesquisa > div.carregadorLinear {
	visibility: hidden;
}

section.pesquisa input[type="text"] {
	background-color: #FFF;
	border-color: #27B;
	border-style: solid;
	border-width: 1px;
	color: #444;
	padding: 3px;
}
